# the cache folder for beet, used during the generation but does not conatain any useful info
.beet_cache/
# my python virtual environment, don't include this as it is system specific
venv/
# Python cache during run, doesn't coantain useful info
__pycache__/
# paint-dot-net edit files which we don't need
*.pdn